*{
            margin: 0;
            padding: 0;
            box-sizing: border-box; 
        }

        body{
            position: relative;
            width: 100vw;
            height: 100dvh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: hsl(70, 21%, 83%);
                    }

        .circle{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            box-shadow: 5px 5px 5px rgba(0, 0, 0 , 0.3);
            border: 0.5px solid rgb(192, 192, 192);
        }

       .circle:nth-child(1){
            background-color: #FF9F29;
            position: absolute;
            left: 10px;
            top: 10px;
            animation: top-left 2.5s infinite ease-in-out;
        }


         .circle:nth-child(2){
            background-color: #FF06B7;
            position: absolute;
            left: 10px;
            bottom: 10px;
            animation: bottom-left 2.5s  infinite ease-in-out;
        }

        .circle:nth-child(3){
            background-color: #5FD068;
            position: absolute;
            right: 10px;
            top: 10px;
            animation: top-right 2.5s infinite;
        }

        .circle:nth-child(4){
            background-color: #3AB0FF;
            position: absolute;
            right: 10px;
            bottom: 10px;
            animation: bottom-right 2.5s infinite ease-in-out;
        }
        .dice{
            background-color: #3B44F6;
            width: 100px;
            height: 100px;
            border-radius: 20%;
            animation: rotate-center 2.5s infinite;
        }
        .dice div{
            width: 15px;
            height: 15px;
            background-color: #fff;
            border-radius: 50%;
            box-shadow: 0px 0px 10px rgba(0, 0, 0 , 0.3);
        }
         .dice div:nth-child(1){
            position: absolute;
            left: 10px;
            top: 10px;
        }
         .dice div:nth-child(2){
            position: absolute;
            left: 42px;
            top: 10px;
        }
        .dice div:nth-child(3){
            position: absolute;
            left: 74px;
            top: 10px;
        }
        .dice div:nth-child(4){
            position: absolute;
            left: 10px;
            top: 42px;
        }
        .dice div:nth-child(5){
            position: absolute;
            left: 42px;
            top: 42px;
            background-color: tomato;
        }
        .dice div:nth-child(6){
            position: absolute;
            left: 74px;
            top: 42px;
        }
        .dice div:nth-child(7){
            position: absolute;
            left: 10px;
            top: 74px;
        }
        .dice div:nth-child(8){
            position: absolute;
            left: 42px;
            top: 74px;
        }
        .dice div:nth-child(9){
            position: absolute;
            left: 74px;
            top: 74px;
        }

        /* Animation starts here */
        
        @keyframes rotate-center {
            100%{
                transform: rotate(360deg);
            }
         } 

        @keyframes top-left {
            25%{
                transform: translateY(calc(100vh - 121px));
            }
            50%{
                transform: translateX(calc(100vw - 121px)) translateY(calc(100vh - 121px));
            }
            75%{
                transform: translateX(calc(100vw - 121px));
            } 
        }

        @keyframes bottom-left {
            25%{
                transform: translateX(calc(100vw - 121px));
            }
            50%{
                transform: translateX(calc(100vw - 121px)) translateY(calc(-100vh + 121px));
            }
             75%{
                transform: translateY(calc(-100vh + 121px));
            } 
        }

        @keyframes bottom-right {
            25%{
                transform: translateY(calc(-100vh + 121px));
            }
            50%{
                transform: translateX(calc(-100vw + 121px)) translateY(calc(-100vh + 121px));
            }
            75%{
                transform: translateX(calc(-100vw + 121px));
            } 
        }
            
        @keyframes top-right {
            25%{
                transform: translateX(calc(-100vw + 121px));
            }
            50%{
                transform: translateX(calc(-100vw + 121px)) translateY(calc(100vh - 121px));
            }
            75%{
                transform: translateY(calc(100vh - 121px));
            }
        }  
